<head>
    <title>Ajax tut home page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    {% load static %}
    {% load static tailwind_tags %}
    {% tailwind_css %}

    <script src="{% static 'dlrequest.js' %}" defer></script>
</head>



<h1>List of live dataaa</h1>

<button id="getbtn" class="m-3">fetch</button>

<div id="res"></div>

<ul id="display">

</ul>

<div class="p-6 mb-4 bg-gray-200 m-5">
<div id="dynamic" style="transition: opacity 0.45s ease-in-out">
    <h2>Download div</h2>
     
                <button id="dlbtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download</button>

</div>
</div>


<script>
    const fetchURL = "{% url 'ajax:getData' %}"

    async function requestData() {
        const resp = await fetch("{% url 'ajax:getData' %}");
        const read = await resp.json();
        let container = document.getElementById("display");
        container.innerHTML = ""
        let res = document.getElementById("res");
        res.textContent = read.res
        
        for (profil of read.profiles){
            console.log(profil)
            const div = document.createElement("div");
                const name = document.createElement("p");
                name.textContent = profil.name; 
                const bio = document.createElement("div");
                bio.textContent = profil.bio;
                div.appendChild(name);
                div.appendChild(bio)
                container.appendChild(div);
        }
    }

    document.getElementById("getbtn").addEventListener("click", requestData);





</script>