{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="group">

    <button disabled class="btn">Disabled Button</button>
  
    <div class="h-16 w-8 bg-primary1-200">tesdfgt</div>
  
    <div class="h-16 w-8 animate-bounce rounded-3xl bg-contrast-900 group-hover:bg-red-500">test</div>
  
    <details class="group bg-slate-200 text-slate-800 rounded-md p-4 peer-lol open:bg-red-300">
      <summary>To jest zajebiste</summary>
      <p class="mt-10">Ja cie krece to naprawde dziala haaha nawet nie 
        wiedzialem ze cos takiego jest</p>
    </details>
    <p class="peer-lol-open:bg-red-500">to jest testowy paragraf</p>
  </div>
  
  
  <div class="text-black p-2 container columns-4">
    <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 1</h3>
      <p>The world's largest grand piano was built by a 15-year-old in New Zealand. It is around 18 feet long and took 4 years to complete.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 2</h3>
      <p>The longest piece of music ever performed is "As Slow as Possible" by John Cage. It began in 2001 and will end in 2640.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 3</h3>
      <p>Vinyl records are making a comeback, with sales hitting a 25-year high in recent years. They offer a unique sound quality that many enthusiasts prefer.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 4</h3>
      <p>Beethoven continued to compose music even after he went completely deaf. Some of his greatest works were created during this time.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 5</h3>
      <p>The shortest war in history, the Anglo-Zanzibar War of 1896, was shorter than the length of a symphony, lasting just 38 minutes.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 6</h3>
      <p>Musical training has been shown to significantly enhance brain development, particularly in areas related to language and reasoning.</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6 mb-4 break-inside-avoid-column">
      <h3 class="text-xl font-bold mb-2">Fact 7</h3>
      <p>The most expensive musical instrument ever sold is a Stradivarius violin, which fetched over $16 million at auction in 2011.</p>
  </div>
  
  </div>


{% endblock %}