{% extends "base.html" %}
{% load static %}


{% block content %}
<script src="{% static 'player1.js' %}" defer></script>
<style>
    .vertext {
        writing-mode: vertical-rl;
        text-orientation: upright;
        z-index: 100;


</style>


<style>
    :root {
        --slider-track-color: #f69697; /* Unfilled track color */
        --slider-progress-color: #f01e2c; /* Filled track color */
        --slider-thumb-color: #d1001f; /* Thumb color */
        --range-progress: 0%; /* Initial progress */
    }
    
    input[type="range"] {
        appearance: none;
        height: 0.5rem;
        background: linear-gradient(to right, var(--slider-progress-color) 0%, var(--slider-progress-color) var(--range-progress, 0%), var(--slider-track-color) var(--range-progress, 0%), var(--slider-track-color) 100%);
        border-radius: 0.25rem;
        outline: none;
        transition: background 0.3s ease-in-out;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }
    
    input[type="range"]::-moz-range-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }
    
    input[type="range"]::-ms-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }
    
    </style>
    

{% comment %} <input type="range" id="volume" min="0" max="2" value="1" step="0.01" class="w-full h-2 bg-red-200 rounded-lg appearance-none cursor-pointer range-lg p-3 m-4" /> {% endcomment %}

<div class="pb-20">
{% comment %} SAMPLES SAMPLES SAMMPLES {% endcomment %}
{% for tune in tunes %}
<div class="text-white flex border-white border-2">
    <div class="p-4">
    {{ tune.title }}
    </div>
    <div class="p-4">
    {{ tune.author }}
    </div>
    <div class="p-4">
        {% comment %} <audio controls>
            <source src="{{ tune.file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio> {% endcomment %}
        <button data-audio-url="{{ tune.file.url }}" pic-url="{{ tune.pic.url }}" audio-name="{{ tune.title }}" author="{{ tune.author }}" class="pick-btn bg-teal-600 p-2">▶</button>
    </div>

</div>
{% endfor %}
</div>

<div id="player" class="container fixed bottom-4 bg-black py-4 flex flex-col items-center px-6 border-white border-4 rounded-2xl overflow-hidden">
    <audio src="" id="audioAPI"></audio>
    {% comment %} <div class="mb-6 text-center relative">
    <svg class="h-6 w-6 text-white inline-block absolute left-0" fill="#ff56ff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 124.512 124.512" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M113.956,57.006l-97.4-56.2c-4-2.3-9,0.6-9,5.2v112.5c0,4.6,5,7.5,9,5.2l97.4-56.2 C117.956,65.105,117.956,59.306,113.956,57.006z"></path> </g> </g></svg>
    <h2 class="text-white inline-block font-medium text-sm uppercase tracking-wider">Now playing</h2>
</div> {% endcomment %}
<div class="flex justify-evenly mb-3">
    <div class="flex justif-evenly items-center bg-red-400">
        <img id="cover" src="" alt="Cover Image" class="rounded h-40 w-40 mx-auto z-10" />
<div class="px-7">
        <h2 id="title" class="text-white text-center mt-3 text-xl font-medium uppercase tracking-wide">Title</h2>
        <h3 id="author" class="text-gray-500 text-xl text-center leading-6 mb-6">Author</h3>
</div>
    </div>

    {% comment %} VOLUMES VOLUMES VOLUMES VOLUMES {% endcomment %}
<div class="flex items-center justify-center space-x-0 bg-gray-500">
    {% comment %} <div class="flex w-1/6">
        <span class="vertext text-white">ORIGINAL</span>
        <div class="bg-red-100 overflow-hidden rounded relative w-4 flex justify-center">
            <div style="height: 54%" class="bg-red-600 px-2 absolute bottom-0"></div>
        </div>
    </div> {% endcomment %}
    <div class="flex items-center bg-teal-300">
        <span class="vertext text-white">VOLUME</span>


        {% comment %} <div id="volume-container" class="bg-red-100 overflow-hidden rounded relative w-4">
            <div id="volume" style="height: 100%" class="bg-red-600 px-2 absolute bottom-0"></div>
        </div> {% endcomment %}

    </div>
    <input type="range" style="transform: rotate(-90deg); transform-origin: 50% 50%;" id="volume" min="0" max="1" value="1" step="0.01" class="range-slider w-1/2 bg-red-500">

    </div>

    

</div>


{% comment %} progress bar ÷ {% endcomment %}
{% comment %} <div id="progress-container" class="bg-red-100 rounded overflow-hidden">
    <div id="progress" style="width: 0%" class="bg-red-600 py-2"></div>
</div> {% endcomment %}
<input type="range" style="" id="progress" min="0" max="1" value="0" step="0.01" class="range-slider w-full mb-3">


{% comment %} times  {% endcomment %}
<div class="text-white flex justify-between w-full text-sm tracking-wide mb-px">
    <p id="current-time">3:12</p>
    <p id="duration">5:14</p>
</div>

{% comment %} controls {% endcomment %}
<div class="flex w-full">
    <button id="back-btn" class="mx-auto"><svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
    <button id="play-btn" class="mx-auto">
        <svg width="17" height="17" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#ffffff"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg></button>
        
    <button id="fwd-btn" class="mx-auto"><svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>

</div>
</div>



{% endblock content %}