{% extends "base.html" %}
{% load static %}


{% block content %}
<script src="{% static 'player1.js' %}" defer></script>
<style>
    .vertext {
        writing-mode: vertical-rl;
        text-orientation: upright;
        z-index: 100;
    }

</style>


<style>
    :root {
        --slider-track-color: #f69697; /* Unfilled track color */
        --slider-progress-color: #f01e2c; /* Filled track color */
        --slider-thumb-color: #d1001f; /* Thumb color */
        --range-progress: 0%; /* Initial progress */
    }
    
    input[type="range"] {
        appearance: none;
        height: 0.5rem;
        background: linear-gradient(to right, var(--slider-progress-color) 0%, var(--slider-progress-color) var(--range-progress, 0%), var(--slider-track-color) var(--range-progress, 0%), var(--slider-track-color) 100%);
        border-radius: 0.25rem;
        outline: none;
        transition: background 0.3s ease-in-out;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }
    
    input[type="range"]::-moz-range-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }
    
    input[type="range"]::-ms-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: var(--slider-thumb-color);
        border-radius: 50%;
        cursor: pointer;
    }


    </style>
    

{% comment %} <input type="range" id="volume" min="0" max="2" value="1" step="0.01" class="w-full h-2 bg-red-200 rounded-lg appearance-none cursor-pointer range-lg p-3 m-4" /> {% endcomment %}

<div class="pb-20">
{% comment %} SAMPLES SAMPLES SAMMPLES {% endcomment %}
{% for response in responses %}
<div class="text-white flex border-white border-2">
    <div class="p-4">
    {{ response.title }}
    </div>
    <div class="p-4">
    {{ response.author }}
    </div>
    <div class="p-4">
        <button data-audio-url="{{ response.audio.url }}" pic-url="{{ tune.pic.url }}" 
        audio-name="{{ response.title }}" data-vol-offset="{{ response.volumeOffset }}" author="{{ response.author }}" 
        class="pick-btn rounded-xl relative bg-teal-600 w-20 relative overflow-hidden">
            <div style="width: 0%" class="absolute h-6 bg-red-600 py-2"></div>
            <span class="btn-txt relative">▶</span>
        </button>
    </div>

</div>
{% endfor %}
</div>

<div id="player" class="container fixed bottom-4 bg-black py-4 flex flex-col items-center px-6 border-white border-4 rounded-2xl overflow-hidden">
    <audio src="" id="audioAPI"></audio>
    <audio src="{{ song.audio.url }}" id="audio-backing"></audio>

<div class="flex justify-evenly w-full mb-3">
    <div class="flex justif-evenly items-center w-full">
        <img id="cover" src="{{ song.pic.url }}" alt="Cover Image" class="rounded h-40 w-40 mx-auto z-10" />
<div class="px-7 w-full">
        <h2 id="title" class="text-white text-center mt-3 text-xl font-medium uppercase tracking-wide">Title</h2>
        <h3 id="author" class="text-gray-500 text-xl text-center leading-6 mb-6">Author</h3>
</div>
    </div>

    {% comment %} VOLUMES VOLUMES VOLUMES VOLUMES {% endcomment %}
    <div class="flex items-center justify-center space-x-0">

        <div class="flex items-center justify-center">
            <span class="vertext text-white relative left-9">VOLUME</span>
            <input type="range" style="transform: rotate(-90deg); transform-origin: 50% 50%;" id="volume" min="0" max="1" 
            value="1" step="0.01" class="range-slider w-3/4 bg-red-500">
        </div>
        <div class="flex justify-around items-center">
            <span class="vertext text-white relative left-9">BACKING</span>
            <input type="range" style="transform: rotate(-90deg); transform-origin: 50% 50%;" id="backing-volume" min="0" max="1" 
            value="1" step="0.01" class="range-slider w-3/4 bg-red-500">
        </div>

    </div>
</div>


{% comment %} progress bar ÷ {% endcomment %}

<input type="range" style="" id="progress" min="0" max="1" value="0" step="0.01" class="range-slider w-full mb-3">


{% comment %} times  {% endcomment %}
    <div class="text-white flex justify-between w-full text-sm tracking-wide mb-px">
        <p id="current-time">:</p>
        <p id="duration">:</p>
    </div>

{% comment %} controls {% endcomment %}
    <div class="flex w-full">
        <button id="back-btn" class="mx-auto"><svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
        <button id="play-btn" class="mx-auto">
            <svg width="17" height="17" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#ffffff"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg></button>
            
        <button id="fwd-btn" class="mx-auto"><svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>

    </div>
</div>



{% endblock content %}