{% extends "base.html" %}
{% load static %}


{% block content %}



<script src="{% static 'submit.js' %}" defer></script>

<script type="text/javascript">
    var successUrl = "{% url 'check' %}";
</script>

<!-- Reference the main Axios script file -->
<script src="{% static 'axios/dist/axios.js' %}"></script>


<form class="flex flex-col w-4/5 items-center justify-center" id="submissionForm" 
method="POST" enctype="multipart/form-data" data-song-id="{{ song.id }}">
    {% csrf_token %}

<div class="bg-gray-700 flex flex-col w-5/6 items-center justify-center p-2">
    <div class="w-full flex shrink">
        {% comment %} <div>
            step 1 
            add title and info
        </div> {% endcomment %}
        <div class="w-full flex flex-col items-center p-2 bg-red-900">
            <input type="text" name="title" placeholder="Title" class=" text-black w-5/6 my-4" required>
            <textarea name="info" placeholder="Info" class="w-5/6 mb-4 text-black" required></textarea>
            <input type="hidden" class="" id="volumeOffset" name="volumeOffset">
            <input type="hidden" name="song" value="{{ song.id }}">
        </div>
        
    </div>


    <div class='p-2 flex flex-col w-full justify-center items-center'>
        <input type="file" id="userAudio" name="audio" class="w-2/3 my-4" accept="audio/*" required>
        <button id="play" 
        class="border-2 border-white p-2 m-4 w-3/4 bg-gray-800 hover:bg-gray-700">Nothing to play...</button>
        <input type="range" class="w-3/4 mb-3 h-10" id="progress" value="0" min="0" max="1" step="0.01">


        <div id="loadingContainer" style="display: none; width: 100%; height:35px;" class="flex flex-col justify-center">
            <div style="border: 1px solid #ccc;" class="rounded">
            <div id="loadingBar" class="bg-green-600 rounded" style="height: 20px; width: 0%; transition: width 0.3s ease-in-out;"></div>
            </div>
        </div>


        <div id="volume_container" class="flex items-center" style="display: ">
            <label class="px-4 shrink" for="id_volumeOffset">Adjust Volume:</label>
            <input type="range" class="p-2" name="volumeOffset" id="volume" 
            value="1" min="0" max="2" step="0.01">
        </div>

    <div class="w-full flex items-center flex-col" id="respBox">
    <button type="submit" id="submit-btn" 
    class="border-gray-800 border-2 p-3 m-4 mt-6 w-2/3">Submit</button>
    </div>
</div>
</form>


<audio src="" id="response" class="p-2"></audio>
<audio src="{{ song.audio.url }}" id="backing"></audio>




{% endblock %}